<div id="payment-box">
   <h3>Payment</h3>
   <table id="payment">
      <thead>
         <tr>
            <th class="thc payment-date">Date</th>
            <th class="thc payment-price">Price</th>
            <th class="thc payment-product">Product</th>
            <th class="thc payment-status">Status</th>
         </tr>
      </thead>
      <tbody>

         {{#each data.receipts}}

         <tr>
            <td class="payment-date"><a href="#">{{this.date}}</a></td>
            <td class="payment-price"><a href="#">${{this.total}}</a></td>
            <td class="payment-product"><a href="#">{{this.business.businessName}}</a></td>
            <td class="payment-status"><a href="#"><i class="far fa-check-circle"
                     style="color:rgb(23, 171, 33);"></i></a></td>
         </tr>
         {{/each}}
      </tbody>

   </table>

   <div class="btn btn-outline-success" onclick="return document.querySelector('#onclick').style.display='block';">
      Click for details.</div>

   <div id="onclick" style="display: none; text-align:initial">
      {{#each data.receipts}}
      <div class="row">

         <h5 class="col" style="text-align: center;"><strong>Order #{{this.orderNo}}</strong></h5>
      </div>
      <div class="row">
         <div class="col-sm">
            
            <p>
               {{this.business.businessName}}<br>
               {{this.business.address1}}<br>
               {{this.business.address2}}<br>
               {{this.business.businessNo}}<br>
               {{this.business.businessEmail}}
            </p>
         </div>
         <div class="col-sm">
         
            <p>
               John Doe<br>
               123 Cherry Street<br>
               Toronto, ON<br>
               416-224-6231<br>
               jd@gmail.com
            </p>
         </div>

         <div class="col-sm">
            
            <p>
               Invoice Detail<br>
               Invoice ID: {{this.receiptID}}<br>
               Purchase Date: {{this.date}}<br>
               Order #: {{this.orderNo}}<br>
            </p>
         </div>
      </div>
      <hr>
      <div class="row">
         <div class="col">
            <table style="width:470px">
               <thead style="font-size: 17px;">
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Price</th>
               </thead>
               {{#each this.products}}
               <tr>
                  <td>{{this.name}}</td>
                  <td>{{this.quantity}}</td>
                  <td>${{this.unitPrice}}</td>
               </tr>
               {{/each}}

               <tfoot>
                  <tr>
                     <td></td>
                     <td>Subtotal:</td>
                     <td>{{this.subtotal}}</td>
                  </tr>
                  <tr>
                     <td></td>
                     <td>Total:</td>
                     <td>{{this.total}}</td>
                  </tr>
               </tfoot>
            </table>
         </div>
      </div>
      <hr><hr>
      {{/each}}
   </div>



</div>
